:root{
    box-sizing: border-box;

    --primary: #ea8e48;
    --hover-color: #a13f45;
    --dark: #5b1a30;
    --light:  #fff;
    --header-bg: var(--primary);

}
*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
*::selection{
    background: var(--hover-color);
    color: var(--light);
}
html{
    overflow: auto;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-thumb{
    background: #b87541;
    border-radius: 10px;    
}
html::-webkit-scrollbar-thumb:hover{
    background: #dd9660;
}
html::-webkit-scrollbar-track{
    background: var(--dark);
}
.btn{
    padding: .7rem 3rem;
    font-size: 1rem;
    color: #fff;
    background: var(--hover-color);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem hsla(25,82%,69%,0.8);
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.fa-times{
    transform:  rotate(180deg);
}

.btn::before{
    content: '';
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}
.btn:hover::before{
    transition: .3s linear ;
    left: 120%;
}
body{
    height: 150rem;
    font-family:"quicksand","verdana",sans-serif;
    font-size: 1rem;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0.3rem 2%;
    background: var(--header-bg);
}
header #hero img{
    width: min(18.5vw, 100px);
    height: min(20vw,110px);
}
header #menu{
    font-size: 3rem;
    color: var(--dark);
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#login{
    font-size: 3rem;
    color: var(--dark);
    cursor: pointer;
}
#login:hover{
    color: var(--hover-color);
}
#hbrg{
    font-size: 3rem;
    color: var(--dark);
    cursor: pointer;
    display: none;
}
.menu{
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    padding-right: 6.5rem;
    padding-top: 0rem;
}
.menu li{
    list-style: none;
}
.menu li a{
    display: block;
    text-decoration: none;
    color: var(--dark);
    padding: 1em 0.5em;
    font-size: 1rem;
}
/* styling submenu */
.has-dropdown{
    position: relative;
}
.submenu{
    position: absolute;
    left: 0;
    background-color: var(--primary) ;
    white-space: nowrap;
    padding: 0.9em 0;
    min-width: 15.8em;
    /*cacher submenus*/
    opacity: 0;
    transform: scale(0);
    transform-origin: top center;
}
.submenu > li > a{
    padding: 0.8em 1.5em;
}
.submenu .submenu{
    left: -100%;
    top: 0;
}
.submenu .submenu .submenu{
    left: -100%;
    top: 0;
}
.menu > li:hover> a, .submenu > li:hover > a{
    background-color: hsla(25,82%,69%,0.8);
    color: var(--hover-color);
}
.menu > li:hover > a{
    background-color: #f1a76f;
}
/* Arrows */
.arrow{
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-top: -0.25em;
    transition: transform 100ms ease-in-out;
}
/* Révéler submenus*/
.menu > li:hover > a + .submenu,.submenu > li:hover > a + .submenu{
    opacity: 1;
    transform: scaleY(1);
}
/* ANIMATE arrows */
.menu > li:hover > a > .arrow, .submenu > li:hover > a > .arrow{
    transform: rotate(225deg);
}
.login-form{
    height: 100%;
    width: 100%;
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1000;
    background: hsl(19,92%,73%,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form.popup{
    top: 0;
}
.login-form form{
    width: 35rem;
    background: var(--primary);
    margin: 0 2rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem var(--dark);
    position: relative;
}
.login-form form h3{
    font-size: 3rem;
    color: var(--dark);
    padding: 1rem 0;    
}
.login-form form .box{
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .1rem solid var(--dark);
    font-size: 1.6rem;
    color: #333;
    background-color: var(--primary);
    text-transform: none;
}
.login-form form .box::placeholder{
    text-transform: capitalize;
}
.login-form form .box:focus{
    border-color: var(--light);
}
.login-form form .box:nth-child(3){
    margin-bottom: 5rem;
}
.login-form form p{
    font-size: 1.4rem;
    color: #666;
    padding: 0.5rem 0;
}
.login-form form p a{
    color: var(--hover-color);
}
.login-form form .btn:hover{
        background: var(--light);
        color: #999;
    }
    .login-form form .fa-times{
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 2.5rem;
        cursor: pointer;
        color: #999;
    }
    .login-form form .fa-times:hover{
        color: #444;
    }
.Accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url(educationalbg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}
.Accueil h1{
    font-size: 4rem;
    color: #666;
}
.Accueil p{
    font-size: 1.3rem;
    color: #999;
    padding: 1rem 0;
    width: 70rem;
}
.prof{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.prof .image{
    flex: 1 1 40rem;
}
.prof .image img{
    height: 65vh;
    width: 100%;
}
.prof .content{
    flex: 1 1 40rem;
}
.prof .content h3{
    font-size: 2.5rem;
    align-items: center;
}
.prof .content{
    font-size: 1.5rem;
}
.infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.infos .image{
    flex: 1 1 40rem;
}
.infos .image img{
    height: 65vh;
    width: 100%;
}
.infos .content{
    flex: 1 1 40rem;
}
.infos .content h3{
    font-size: 2.5rem;
    align-items: center;
}
.infos .content{
    font-size: 1.5rem;
}
.contact{
    background: #5a1d1d;
  
}
.contact .heading{
    color: var(--primary);
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row form{
    flex: 1 1 50rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: flex-start;
}
.contact .row form .box{
    height: 5rem;
    width: 49%;
    border: .1rem solid #eee;
    border-radius: 10px;
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #fff;
    background: none;
    text-transform: none;
}
.contact .row form .box:focus{
    background-color: rgb(241,167,111,0.3);
}
.contact .row form .box:placeholder{
    text-transform: capitalize;
}
.contact .row form .address{
    height: 15rem;
    padding: 1rem;
    resize: none;
    width: 100%;
}
.contact .row form .btn:hover{
    background: var(--light);
    color: #333;
}
.contact .row form .image img{
    height: 80vh;
    margin-top: 2rem;
}
section{
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}
@media only screen and (max-width: 78.75em){
    .submenu .submenu{
    left: 100%;
    top: 0.5em;
    }
    .Accueil h1{
        font-size: 4rem;
    }
    .Accueil p{
       width: auto;   
    }
}
@media only screen and (max-width: 58.75em){
    .menu li a{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 50em){
    html{
        font-size: 95%;
    }
    header{
        position: relative;
        padding: 1.8em 4em;
    }
    header #hbrg{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 3.8rem;
        left: -120%;
        width: 100%;
    }
    header .navbar.nav-toggle{
    left: 0;
}
    .menu{
        flex-flow: column;
        position: absolute;
        background: var(--light);
        top: 6em;
        left:  0;
        right: 0;
        height: 100vh;
    }
    .menu > li > a{
        font-size: 1.5rem;
        color: var(--dark);
    }
    .submenu > li > a{
        font-size: 1.5rem;
    }
    .submenu{
        top: 0;
        padding-left: 1.5em;
        border-left: 0.12em solid hsla(0,42%,40%,1.0);
        border-bottom: 0.12em solid hsla(0,42%,40%,1.0);
    }
    .submenu .submenu{
        left: 0;
        top: 0;
    }
    .menu > li:hover > a + .submenu, .submenu > li:hover > a + .submenu{
        position: relative;
    } 
}
    .footer {
    background:rgb(90, 29, 29) ;
    line-height:.5rem ;
    border-top: 3px #a13f45 solid;
   }
 .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
 }
.footer .box-container .box{
margin:.5rem;
line-height: 1rem;
text-align: center;
flex: 1 1 25rem ;
}
.footer .box-container .box h3{
font-size: 1.5rem;
color: rgb(231, 116, 21);
padding: .1rem 0;
padding-bottom: 1rem;
padding-top: 1rem;
}
.footer .box-container .box p{
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #eee;
    padding: .3rem 0;
    }
    .footer .box-container .box p i{
  padding-right: 1.8rem;
  color: #a13f45;
    }  
    .footer .box-container .box a{
        font-size: 1.3rem;
        display: block;
        padding: .5rem 0;
        color: #eee;
    }
    .footer .box-container .box a i{
        color: rgb(228, 154, 17);
        font-size: 1.5rem;
    }
    .footer .box-container .box a:hover{
  text-decoration:underline ;
    }

 .footer .credit{
     padding:2rem 1rem ;
     font-size: 1.2rem;
     color: #fff;
     background-color: #a13f45 ;
     text-align: center;
     font-weight: normal;
 }
 .footer .credit a{
 color: var(--primary);
 }
